# Laravel / PHP
/vendor
/node_modules
/storage/*.key
/.env*
/.git

# Logs
/storage/logs
/storage/framework/cache/data

# IDEs
/.idea
/.vscode

# OS
.DS_Store
Thumbs.db

# Build
/public/build
/public/hot

# Lock files
/composer.lock
/package-lock.json
/yarn.lock

# Misc
*.sqlite
*.sqlite3
